@{
    ViewData["Title"] = "PDF Simple Samples";
}

<div>
    <h1 class="display-4">Simple samples from the PDF Controller</h1>
    <ul>
        <li><a href="@Url.Action("HelloWorld","PDF")" target="_blank">Hello World</a></li>
        <li><a href="@Url.Action("HelloTemplates","PDF")" target="_blank">Hello World from a document template</a></li>
    </ul>
    
</div>
